<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>    
  <title>Board(1st Page Only)</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>    
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
      <h1>🚀 Springboot BBS</h1>
      <button class="btn btn-outline-secondary" onclick="location.href='/logout'">로그아웃</button>
    </div>
    <div class="row mt-4">
      <div class="col">  <button class="btn btn-primary" onclick="location.href='/posts/save'">글 등록  </button>   </div>
    </div>         
  <table class="table table-horizontal table-bordered mt-3">            
    <thead class="table-dark">            
    <tr>                
      <th>게시글번호    </th>                
      <th>제목    </th>                
      <th>작성자    </th>                
      <th>최종수정일    </th>            
    </tr>            
    </thead>            
    <tbody id="tbody">            
    <tr th:each="post : ${posts}">                
      <td th:text="${post.id}">   </td>                
      <td> <a th:href="@{/posts/update/{id}(id=${post.id})}" th:text="${post.title}">  </a>  </td>                
      <td th:text="${post.author}">    </td>                
      <td th:text="${#temporals.format(post.modifiedDate, 'yyyy-MM-dd HH:mm')}">  </td>            
    </tr>            
    </tbody>        
  </table>    
  </div>     
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
